.hero_image {
  width: 100% !important;
}

.quienes_somos {
  padding-top: 10rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.qs_article {
  width: 450px;
}

.qs_articleTitle {
  padding: 3rem 0 1rem 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #353434;
  border-bottom: 0.1rem solid #fdbd00;
  margin-bottom: 2rem;
}

.qs_articleText {
  padding-left: 2rem;
  font-size: 1.5rem;
  color: #353434;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.nuestra_historia {
  position: relative;
  top: -1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10rem;
}

.nh_article {
  position: relative;
  width: 500px;
  text-align: right;
  padding: 3rem 3rem 3rem 0;
  border-right: 0.1rem solid #fdbd00;
}

.nh_article::after {
  content: "";
  display: block;
  width: 80%;
  height: 0.1rem;
  background: #fdbd00;
  position: absolute;
  right: -60%;
  bottom: 1.5rem;
}

.nh_articleTitle {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #353434;
  margin-bottom: 2rem;
}

.nh_articleText {
  padding-left: 2rem;
  font-size: 1.5rem;
  color: #353434;
  margin-bottom: 1rem;
  line-height: 2rem;
}
